{% extends 'base.html.twig' %}

{% block body %}

   <center> <h2  style="color: Navy">List of books of {{ category.name}} </h2></center>
    <div class="container">
       <table class="table table-striped">
           <thead class="thead-inverse">
               <tr>
                   <th  style="color: Navy">ID</th>
                   <th  style="color: Navy">Title</th>
                   <th  style="color: Navy">Price</th>
                   <th  style="color: Navy">Details </th>
               </tr>
               </thead>
               <tbody>
               {% for p in ok_books %}
                   <tr>
                       <td scope="row">{{ p.id }} </td>
                       <td>{{ p.title }}</td>
                       <td>{{ p.price }}</td>

                      <td> <a name="" id="" class="btn btn-primary" href="{{path('book.show',{'id': p.id})}}" role="button">détail</a></td>
                   </tr>
                {% endfor %} 
              

               </tbody>
       </table>
       </div>

    <hr/>
     <div class="navigation text-center">
        {{ knp_pagination_render(ok_books) }}
    </div>
    <h3><a href="{{ path('category_index') }}">Back to list</a></h3>
{% endblock %}