<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="{{asset('MonTemplate/css/animate.css')}}">
    <link rel="stylesheet" href="{{asset('MonTemplate/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('MonTemplate/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('MonTemplate/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{asset('MonTemplate/css/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{asset('MonTemplate/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('MonTemplate/css/icomoon.css')}}">
    <link rel="stylesheet" href="{{asset('MonTemplate/css/style.css')}}">



    
  </head>
  <body>

    <div class="container pt-5">
			<div class="row justify-content-between">
				<div class="col">
					<a class="navbar-brand" href="index.html">Kitab<span>store.</span></a>
				</div>
				<div class="col d-flex justify-content-end">
					<div class="social-media">
		    		<p class="mb-0 d-flex">
		    			<a href="https://www.facebook.com/ahmed.ammar.ess/" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
				<form method="GET" action="{{path('book_search')}}" class="searchform order-lg-last">
          <div class="form-group d-flex">
            <input type="text" name="search" class="form-control pl-3" placeholder="Search">
            <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
          </div>
        </form>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item active"><a href="{{ path('book.index')}}" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="{{ path('book.list')}}" class="nav-link">Books</a></li>
				<li class="nav-item"><a href="{{path('category_index')}}" class="nav-link">Category</a></li>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
				<li class="nav-item"><a href="{{path('registration_new')}}" class="nav-link">Enrollment</a></li>
         {% endif %}
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login')}}">Login</a>
          </li>
          {% endif %}
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
             <li class="nav-item">
             {% if(is_granted('ROLE_ADMIN'))  %}
          <a href="{{path('book_formadd')}}" class="nav-link">Create Book</a>
          </li>
          {% endif %}
           <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout')}}">Logout</a>
          </li>
            {% if (not is_granted('ROLE_ADMIN'))  %}
             <li class="nav-item"><a href="{{path('cart_index')}}" class="nav-link" ><i class="fa fa-shopping-cart"></i> &nbsp; MyCart</a> </li>
          {% endif %}
           
           
           <li class="nav-item">
            <span class="nav-link" >Vous êtes: {{ app.user.firstName }}</span>
          </li>
       

            {% endif %}

	      
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
   
   
{% block body %}

{% endblock%}
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{{asset('MonTemplate/js/jquery.min.js')}}"></script>
  <script src="{{asset('MonTemplate/js/jquery-migrate-3.0.1.min.js')}}"></script>
  <script src="{{asset('MonTemplate/js/popper.min.js')}}"></script>
  <script src="{{asset('MonTemplate/js/bootstrap.min.js')}}"></script>
  <script src="{{asset('MonTemplate/js/jquery.easing.1.3.js')}}"></script>
  <script src="{{asset('MonTemplate/js/jquery.waypoints.min.js')}}"></script>
  <script src="{{asset('MonTemplate/js/jquery.stellar.min.js')}}"></script>
  <script src="{{asset('MonTemplate/js/jquery.animateNumber.min.js')}}"></script>
  <script src="{{asset('MonTemplate/js/owl.carousel.min.js')}}"></script>
  <script src="{{asset('MonTemplate/js/jquery.magnific-popup.min.js')}}"></script>
  <script src="{{asset('MonTemplate/js/scrollax.min.js')}}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{{asset('MonTemplate/js/google-map.js')}}"></script>
  <script src="{{asset('MonTemplate/js/main.js')}}"></script>
    
  </body>
</html>